@import '../../scss/_config';
@import '../../scss/utilities.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 2px $primary-color;
    opacity: 0.9;

  
    .title {
         text-decoration: none;
         color : $primary-color;
        }
    
    
    .options {
        display: flex;
        justify-content: flex-end;
        color: $primary-color;
        padding-right: 2rem;
    
    .option-item {
        text-decoration: none;
        padding-right: 0.5rem;
        color: $primary-color;
        }
    }   
  
    

}
